/* General body styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
}

#question {
    font-family: 'Caveat', cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 39px;
    font-family: 'Caveat', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}

.message-container {
    text-align: center;
    margin-top: 20px;
}

.caveat-text {
    font-family: 'Caveat', cursive;
    color: #FF0000; /* Set text color to bright red */
}

.hura-text {
    font-size: 32px;
    margin-bottom: 5px;
    color: #FF69B4; /* Różowy */
    animation: pulse 2s infinite;
}

.love-text {
    font-size: 28px;
    color: #FF1493; /* Ciemny róż */
    opacity: 0;
}

.next-scene-button {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    font-size: 24px;
    background-color: #FF69B4;
    color: white;
    border: none;
    cursor: pointer;
}

.kotek-image {
    max-width: 300px;
    margin-top: 50px;
}

/* Animacje */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
