/* General body styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
}

#question {
    font-family: 'Caveat', cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Caveat', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hura-message {
    color: #800000;
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 20px;
    background-color: #FDE4E4;
    text-align: center;
}

.caveat-text {
    font-family: 'Caveat', cursive;
    font-size: 32px;
}
